.submenu a {
  text-decoration: none;
}
ul li{
    background-color: #00FF00;
}
.left h1{
    font-size: .5em;
}

.lorem > span{
    font-weight: bold;
}

span[title]{
   font-style: italic;
}
.lorem{
    text-align: justify;
}
article{
    text-align: center;
}
.title{
    color: red;
}